@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.font-poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.font-poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #26262a;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    width: 8px;
    background: #981b1a;
    border-radius: 20px;
  }

  .scrollbar::-webkit-scrollbar-track:hover {
    border-radius: 20px;
    background: #26262a;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
}

.text-outline {
  -webkit-text-stroke: 0.5px black;
  color: rgb(199, 40, 40);
}
